* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Tilt Neon", cursive;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #ffd861;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing {
  width: 90%;
  height: 85%;
  background-color: #ffd863;
  border-radius: 2rem;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100%;
  background-color: #fff;
  border-radius: 2rem 0 0 2rem;
  z-index: 100;
}

.menu-icon {
  width: 4rem;
  height: 16rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.lines {
  width: 80%;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.5s;
}

.change .lines {
  transform: rotateZ(90deg);
}

.line {
  width: 100%;
  height: 0.3rem;
  background-color: #555;
  border-radius: 0.5rem;
}

.menu-icon span {
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #555;
}

.nav-items {
  width: 25rem;
  height: 100%;
  position: absolute;
  left: 5rem;
  display: flex;
  flex-direction: column;
  z-index:3;
}

.nav-item {
  flex: 1;
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: width 1s;
}

.change .nav-item {
  width: 25rem;
}

.change .nav-item:nth-child(1) span,
.change .nav-item:nth-child(2) span,
.change .nav-item:nth-child(3) span,
.change .nav-item:nth-child(4) span,
.change .nav-item:nth-child(5) span {
  transition: background-color 0.3s, transform 0.5s;
}

.nav-item:hover {
  background-color: #e6e5e5;
}

.nav-item span {
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: #333;
  opacity: 0;
  visibility: hidden;
}

.change .nav-item span {
  opacity: 1;
  visibility: visible;
}

.change .nav-item:nth-child(1) span {
  transition: all 0.3s 0.5s;
}

.change .nav-item:nth-child(2) span {
  transition: all 0.3s 0.7s;
}

.change .nav-item:nth-child(3) span {
  transition: all 0.3s 0.9s;
}

.change .nav-item:nth-child(4) span {
  transition: all 0.3s 1.1s;
}

.change .nav-item:nth-child(5) span {
  transition: all 0.3s 1.3s;
}

.nav-item img {
  width: 11rem;
  height: 11rem;
  opacity: 0;
  visibility: hidden;
  object-fit: cover;
}

.change .nav-item img {
  opacity: 1;
  visibility: visible;
}

.change .nav-item:nth-child(1) img {
  transition: all 0.3s 0.7s;
}

.change .nav-item:nth-child(2) img {
  transition: all 0.3s 0.9s;
}

.change .nav-item:nth-child(3) img {
  transition: all 0.3s 1.1s;
}

.change .nav-item:nth-child(4) img {
  transition: all 0.3s 1.3s;
}

.change .nav-item:nth-child(5) img {
  transition: all 0.3s 1.5s;
}

.img-left {
  width: 80rem;
  position: absolute;
  top: -15%;
  left: -10%;
  transform: rotateZ(70deg);
  opacity: 0.5;
}

.header {
  position: absolute;
  top: 20%;
  left: 10%;
}

.header h1 {
  font-size: 10rem;
  font-weight: 300;
}

.header p {
  font-size: 1.8rem;
  margin: 2rem 0;
  text-transform: capitalize;
  position: relative;
  padding-left: 5rem;
}

.header p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  width: 3rem;
  height: 0.3rem;
  background-color: #333;
}

.img-right {
  position: absolute;
  right: -10%;
  width: 50%;
  z-index: 100;
  opacity: 0.9;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

.shift-header {
  transform: translateX(50%);
  transition: transform 1s;
}

.change-h1 {
  font-size: 6rem !important;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.plate {
  width: 70%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  right: -20%;
  border-radius: 50% 0 0 50%;
  transform: rotateZ(-30deg);
  z-index: 1;
}

@media (max-width: 1600px) {
  .header h1 {
    font-size: 8rem;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 40%;
  }

  .header h1 {
    font-size: 7rem;
  }
}

@media (max-width: 820px) {
  .img-left {
    top: -10%;
  }

  .header {
    left: 50%;
    transform: translateX(-50%);
  }

  .img-right {
    bottom: 15rem;
    z-index: 2;
  }

  .plate {
    width: 90%;
    height: 50%;
    bottom: 0;
    right: -30rem;
  }
}

@media (max-width: 768px) {
  .header h1 {
    width: 50rem;
  }

  .img-right {
    width: 45%;
    bottom: 12rem;
  }
}

@media (max-width: 480px) {
  .img-left {
    width: 60rem;
  }

  .header {
    left: 65%;
  }

  .header h1 {
    font-size: 6rem;
  }

  .img-right {
    width: 50%;
    bottom: 10rem;
  }

  .plate {
    height: 40%;
    right: -15rem;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 42%;
  }
}
